<div class="side_bar_header">
  <div class=user_name>
  <a href="#">山田課長</a>
  </div>
  <div class=create_chat>
  <a href="#">チャットルーム作成</a>
  </div>
</div>

<div class="rooms">
  <div class=chat_rooms>
    <div class=room_name>
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class=chat_rooms>
    <div class=room_name>
      <a href="#">techroom2</a>
    </div>
  </div>
</div>